@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;

*/

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --very-light-gray: hsl(0, 0%, 95%); /* Background, headins, btns */
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* Paragraphs */
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--very-light-gray);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-group {
    display: inline-flex;
}

.card {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--bright-orange);
    padding: 4em;
    max-width: 20%;
}

.card * {
    background-color: var(--bright-orange);
}

.card img {
    max-width: 40%;
    margin-bottom: 2em;
}

.card h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

.card button {
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    color: var(--bright-orange);
    border-radius: 4em;
    border: none;
    text-decoration: none;
    padding: 1em 0 1em 0;
    margin-top: 2.5em;
    max-width: 80%;
}
