@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --very-light-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

/* CSS Reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Red Hat Display', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,button,textarea,select {
  font: inherit;
}


/* 
================
====MAIN CSS====
================
*/

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.card-group {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    align-content: center;
    flex-direction: column;
    max-width: 22em;
    padding: 2em 4em 2em 2em;
}

@media only screen and (max-width: 646px) {
    .card-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .round-left {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px !important;
    }
    
    .round-right {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0px !important;
    }
}

/*
================
=HELPER CLASSES=
================
*/

.card-header-img {
    max-width: 5em;
    margin-bottom: 2em;
}

.card-header {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.card-desc {
    color: var(--transparent-white) !important;
    margin-bottom: 5em;
}

.card-btn {
    font-family: 'Lexend Deca', sans-serif;
    max-width: 12em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    border-radius: 30px;
}

.round-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.round-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bg-bright-orange {
    background-color: var(--bright-orange);
    color: white;
}

.bright-orange-btn {
    background-color: white;
    color: var(--bright-orange);
}

.bright-orange-btn:hover {
    border: 1px solid white;
    background-color: var(--bright-orange);
    color: white;
}


.bg-dark-cyan {
    background-color: var(--dark-cyan);
    color: white;
}

.dark-cyan-btn {
    background-color: white;
    color: var(--dark-cyan);
}

.dark-cyan-btn:hover {
    border: 1px solid white;
    background-color: var(--dark-cyan);
    color: white;
}


.bg-very-dark-cyan {
    background-color: var(--very-dark-cyan);
    color: white;
}

.very-dark-cyan-btn {
    background-color: white;
    color: var(--very-dark-cyan);
}

.very-dark-cyan-btn:hover {
    border: 1px solid white;
    background-color: var(--very-dark-cyan);
    color: white;
}
